<div>
    <h1>View Cart</h1>
    <br>
<form id="cart-form">
    <label for="cart-id">Enter Cart ID:</label>
    <input type="text" id="cart-id" name="cart-id" required>
    <button type="submit">View Cart</button>
</form>
</div>

<div id="cart-output"></div>

<script src="/js/viewCart.js"></script>
