<div>
    <h1>RealTime</h1>
    <br>
    <div style="display: flex;">
        <div id="listaDeProductos" style="border: 1px solid black; min-width: 15%; width: fit-content; flex: 1"></div>
        <br>
        <div id="crearProducto" style="border: 1px solid black; min-width: 15%; width: fit-content; flex: 1"></div>
        <br>
        <div id="eliminarProducto" style="border: 1px solid black; min-width: 15%; width: fit-content; flex: 1"></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>